services:
  db-test:
    container_name: shoplist-db-test
    hostname: shoplist-db-test
    image: postgres:17.5
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_USER_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432"
    networks:
      - db-network-test
  auth-test:
    container_name: shoplist-auth-test
    build:
      context: ./backend/
      dockerfile: Dockerfile
      target: builder
    environment:
      DB_HOST: "shoplist-db-test"
      DB_PORT: "5432"
      ENV_PATH: "/shoplist/.env.test"
      RUST_LOG: "auth=debug,warn"
    volumes:
      - test_cargo_registy:/root/.cargo/registry
      - .:/shoplist
    working_dir: /shoplist/backend
    entrypoint: cargo
    command: watch -- cargo test -p auth -- --test-threads=1
    depends_on:
      - db-test
    networks:
      - db-network-test
      - auth-network-test
volumes:
  test_cargo_registy:
networks:
  db-network-test:
    driver: bridge
  auth-network-test:
    driver: bridge
