services:
  db:
    image: postgres:17.5
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_USER_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432"
  valkey:
    container_name: shoplist-valkey
    hostname: ${VALKEY_HOST}
    build:
      context: ./db/valkey/
      dockerfile: Dockerfile
      target: release
    restart: always
    ports:
      - "${VALKEY_PORT}"
  auth:
    ports:
      - "50051"
    depends_on:
      - db
  api:
    ports:
      - "80"
    depends_on:
      - auth
      - valkey
  front:
    ports:
      - "4321:4321"
  nginx:
    container_name: shoplist-nginx
    build:
      context: ./router/
      dockerfile: Dockerfile
    restart: always
    ports:
      - "80:80"
    depends_on:
      - api
      - front
