services:
  db-test:
    container_name: shoplist-db-test
    hostname: shoplist-db-test
    image: postgres:17.5
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_USER_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432"
    networks:
      - db-network-test
  auth-test:
    container_name: shoplist-auth-test
    build:
      context: ./backend/
      dockerfile: Dockerfile
      target: builder
    environment:
      DB_HOST: "shoplist-db-test"
      DB_PORT: "5432"
      ENV_PATH: "/shoplist/.env.test"
      RUST_LOG: "auth=debug,warn"
    volumes:
      - test_cargo_registy:/root/.cargo/registry
      - .:/shoplist
    working_dir: /shoplist/backend
    entrypoint: cargo
    command: watch -- cargo test -p auth -- --test-threads=1
    depends_on:
      - db-test
    networks:
      - db-network-test
      - auth-network-test
  auth:
    environment:
      DB_HOST: "shoplist-db-test"
      DB_PORT: "5432"
    depends_on:
      - db-test
    networks:
      - auth-network-test
      - db-network-test
  api:
    volumes:
      - test_cargo_registy:/root/.cargo/registry
      - .:/shoplist
    working_dir: /shoplist/backend
    environment:
      DB_HOST: "shoplist-db-test"
      DB_PORT: "5432"
      ENV_PATH: "/shoplist/.env"
      RUST_LOG: "warn,api=debug,model=debug,rocket=info"
      ROCKET_CONFIG: /shoplist/backend/api/Rocket.toml
      ROCKET_SECRET_KEY: ${ROCKET_SECRET_KEY}
    entrypoint: cargo
    command: watch -- cargo run -p api
    depends_on:
      - db-test
      - auth-test
    networks:
      - db-network-test
      - auth-network-test
  valkey:
    hostname: ${VALKEY_HOST}
    volumes:
      - test_valkey_data:/data
    networks:
      - db-network-test
  api-test:
    container_name: shoplist-api-test
    hostname: shoplist-api-test
    build:
      context: ./backend/
      dockerfile: Dockerfile
      target: builder
    environment:
      DB_HOST: "shoplist-db-test"
      DB_PORT: "5432"
      ENV_PATH: "/shoplist/.env"
      RUST_LOG: "warn,api=debug,model=debug,rocket=info"
      ROCKET_CONFIG: /shoplist/backend/api/Rocket.toml
      ROCKET_SECRET_KEY: ${ROCKET_SECRET_KEY}
    volumes:
      - test_cargo_registy:/root/.cargo/registry
      - .:/shoplist
    working_dir: /shoplist/backend
    entrypoint: cargo
    command: watch -- cargo test -p api -- --test-threads=8
    depends_on:
      - db-test
      - auth
      - valkey
    networks:
      - db-network-test
      - auth-network-test
      - api-network-test
  nginx:
    environment:
      API_HOST: "shoplist-api-test"
      API_PORT: "80"
      FRONT_HOST: "shoplist-front"
      FRONT_PORT: "4321"
    networks:
      - api-network-test
volumes:
  test_cargo_registy:
  test_valkey_data:
networks:
  db-network-test:
    driver: bridge
  auth-network-test:
    driver: bridge
  api-network-test:
    driver: bridge
