---
import Page from '../layouts/page.astro'
---
<Page
    title="Shoplist"
    description="A modern shipping list app"
>
    <h1>Shoplist!</h1>
    <a href="/login" aria-label="Go to the login page">Login</a>
    <a href="/register" aria-label="Go to the register page">Register</a>
</Page>
