---
import LandingPage from '../layouts/landingPage.astro'
---
<LandingPage
    title="Shoplist"
    description="A modern shipping list app"
>
    <section class="section">
        <h1>Shoplist!</h1>
        <a href="/teams" aria-label="Go to the teams page">Teams</a>
    </section>
</LandingPage>
