---
import LandingPage from '../layouts/landingPage.astro'
---
<LandingPage
    title="Shoplist"
    description="A modern shipping list app"
>
    <section class="section">
        <h1>Shoplist!</h1>
    </section>
</LandingPage>
