---
import LandingPage from '../layouts/landingPage.astro'
---
<LandingPage
    title="Shoplist - Login"
    description="Login into Shoplist"
>
    <h1>Login</h1>
    <a href="/" aria-label="Go to the home page">Home</a>
</LandingPage>
