---
import Page from '../layouts/page.astro'
---
<Page
    title="Shoplist - Register"
    description="Register into Shoplist"
>
    <h1>Register</h1>
    <a href="/" aria-label="Go to the home page">Home</a>
</Page>
